body {
  background-color: rgb(229, 231, 235);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  margin-top: 25px;
  padding: 3rem 4rem;
  width: auto;
  align-self: auto;
}

/* Small screens */
@media screen and (max-width: 800px) {
  main {
    padding: 0 1.5rem;
  }
}

/* Large screens */
@media screen and (min-width: 1100px) {
  main {
    padding: 3rem 0;

    width: 1000px;
    align-self: center;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-align: center;
  color: rgb(107, 114, 128);
  line-height: 1em;
  flex: 100%;
}

.ContentCard {
  margin: 2rem 0;

  border-radius: 1rem;
  filter: drop-shadow(10px 15px 10px rgba(0, 0, 0, 0.1));

  background-image: linear-gradient(to bottom right, #f3f4f6, #e5e7eb);
}

@media screen and (max-width: 800px) {
  .ContentCard {
    flex: 100%;
  }
}

.ContentCard > section > h1,
.ContentCard > section > h2,
.ContentCard > section > h3,
.ContentCard > section > h4,
.ContentCard > section > h5,
.ContentCard > section > h6,
.ContentCard > article > h1,
.ContentCard > article > h2,
.ContentCard > article > h3,
.ContentCard > article > h4,
.ContentCard > article > h5,
.ContentCard > article > h6 {
  margin: 0 0 1rem 0;
  text-align: unset;
  color: unset;
  line-height: unset;
  flex: unset;
}

.ContentCard h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.ContentCard h2 {
  font-size: 1.2rem;
  line-height: 1.85rem;
}

.ContentCard h3 {
  font-size: 1rem;
  line-height: 1.25rem;
}

.ContentCard section,
.ContentCard article {
  padding: 1rem;
}

/**
 * Content card but it's a button.
 */
.ContentCardButton {
  padding: 0;
}

.ContentCardButton > a {
  padding: 1rem;
  display: block;
  align-items: center;
  text-decoration: none;
}

.ContentCardButton > a > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ContentCardButton > a > p {
  text-align: center;
}

img {
  display: inline-block;
  max-width: 100%;
  border-radius: 0.5rem;
  margin: auto 0.5rem;
}

video {
  display: inline-block;
  max-width: 100%;
  border-radius: 0.5rem;
}

.HSep {
  flex: 100%;
  margin: 0 6rem 3rem 6rem;
  padding: 1rem;
  box-shadow: 0 4px 6px inset rgba(0, 0, 0, 0.3);
  border-radius: 0.75rem;
}

/* Small screens */
@media screen and (max-width: 800px) {
  .HSep {
    margin: 0 0 3rem 0;
  }
}

/* Large screens */
@media screen and (min-width: 1100px) {
  .HSep {
    margin-left: 12rem;
    margin-right: 12rem;
  }
}

a {
  text-decoration: none;
  color: darkslategray;
}

.LinkButton {
  text-decoration: none;
  color: #f5ebeb;
  border: darkslategray solid;
  border-radius: 0.6rem;
  border-width: 2px;
  padding: 0.2rem 0.6rem;
  margin: 0.2rem;
  line-height: 2rem;
  box-sizing: border-box;
  display: inline-block;

  background-color: #2772db;
}

/**
 * Article stuff
 */

pre {
  white-space: pre-wrap;
  background-image: linear-gradient(to bottom right, #e2e2e2, #c9c9c9);
  padding: 1rem;
  border-radius: 0.6rem;
}

code {
  overflow-wrap: anywhere;
  font-family: monospace;
  font-size: 0.9rem;
}

ul > li {
  overflow-wrap: anywhere;
}

/* RSS buttons */
.RSS {
  background-color: #cfcfd6;
  margin-left: 1rem;
  display: inline-block;
  border: transparent 1px solid;
  border-bottom: none;
  border-radius: 1rem;
  padding: 0.25rem 1rem;
}

.DisplayGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.DisplayGridItem {
  margin: 1rem !important;
  flex-basis: 10rem;
  text-align: center;
}

.DisplayGridItem > a {
  display: block;
  padding: 1rem;
}
