header
{
    position: sticky;
    top: 0;
    background-color: rgba(31, 41, 55, 0.8);
    padding: 0;
    margin-top: 3rem;

    backdrop-filter: blur(6px);

    /* 
     * Drop shadows and other effects draw in front 
     * of 0 index elements. So drop shadows that are
     * not in the header will draw over the header if
     * index is not 0. */
    z-index: 1;
}

header > div
{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

/**
 * Set the header > div flex-direction to be column.
 */
@media screen and (max-width: 1100px)
{
    header > div
    {
        width: auto;
        margin: 0 2rem;
        flex-direction: column;
    }
}

#logoContainer
{
    display: flex;
    align-items: center;
}

.NavBarItemText
{
    color: white;
    text-decoration: none;
    text-align: center;
    display: flex;
    
    width: 7rem;
    
    align-items: center;
    justify-content: center;
    
    padding: 0 0.5rem 0 0.5rem;
    margin: 0 0.5rem 0 0.5rem;
}

.NavBarItemText:hover
{
    background-color: rgb(17, 24, 39)
}

/* Small screens */
@media screen and (max-width: 1100px)
{
    .NavBarItemText
    {
        /* 4 items. So 1/4. */
        width: 25%;

        margin: 0;
        padding: 1rem 0;
    }
}

header img
{
    display: inline-block;
    width: auto;
    padding: 0.5rem;
    width: 28px;
    height: 28px;
}

header h1
{
    margin: 0 1rem;

    color: white;

    font-size: 1.5rem;
    font-weight: inherit;
    line-height: 2rem;
}

@media screen and (max-width: 400px)
{
    header h1
    {
        font-size: 1.2rem;
        line-height: 1rem;
    }
}

nav
{
    padding: 0;
    margin: 0;
    display: flex;
    height: auto;
    justify-content: space-between;
}

