header
{
  backdrop-filter: blur(6px);

  /* Drop shadows and other effects draw in front of 0 index elements. 
  So drop shadows that are not in the header will draw over the header if index is not 0. */
  z-index: 1;
}

.NavBarItemText
{
  color: white;
  text-decoration: none;
  text-align: center;
}