.ContentCardShowcaseText
{
  color: white;
  font-weight: normal;
  text-decoration: underline overline dashed;
  text-shadow: 2px 2px #000000;
}

#blenderBarShowcase
{
  display: flex;
  flex-direction: column;
  align-content: center;
  
  /* 
    9 / 16 16:9 ratio 
    padding top and bottom to align child text in the center.
  */
  padding-top: 24%;
  padding-bottom: 24%;

  border-radius: 1rem;

  background-image: url("../Resources/Images/Projects/blender-bar-showcase/bar_08.png");
  background-size: 110%;
  background-position: center;

  transition: background-size ease-in-out 0.25s;
  filter: drop-shadow(10px 15px 10px rgba(0, 0, 0, 0.1));
}

#blenderBarShowcase:hover
{
  background-size: 125%;
}

#blenderBarShowcaseRevealText
{
  color: rgba(255, 255, 255, 0);
  transition: color ease-in-out 0.25s;
  text-shadow: none;
  text-align: center;
  margin-top: 0.1rem;
}

#blenderBarShowcase:hover #blenderBarShowcaseRevealText
{
  color: white;
  text-shadow: 2px 2px #000000;
}

@media screen and (max-width: 800px)
{
  #blenderBarShowcase
  {
    background-size: 155%;
  }

  #blenderBarShowcase:hover
  {
    background-size: 180%;
  }

  #blenderBarShowcaseRevealText
  {
    color: white;
    text-shadow: 2px 2px #000000;
  }
}
