body
{
  background-color: rgb(229, 231, 235);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

main
{
  margin-top: 25px;
  padding: 3rem 4rem;
  width: auto;
  align-self: auto;
}

/* Small screens */
@media screen and (max-width: 800px)
{
  main
  {
    padding: 0 1.5rem;
  }
}

/* Large screens */
@media screen and (min-width: 1100px)
{
  main
  {
    padding: 3rem 0;
    
    width: 1000px;
    align-self: center;
  }
}

.ContentCard
{
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
}

.ContentCardSection
{
  margin: 0 1rem;
  margin-bottom: 1rem;
  padding: 1rem;

  border-radius: 1rem;
  filter: drop-shadow(10px 15px 10px rgba(0, 0, 0, 0.1));

  flex: auto;

  background-image: linear-gradient(to bottom right, #f3f4f6, #e5e7eb);
}

.ContentCardSectionLast
{
  margin-bottom: 0rem;
}

@media screen and (max-width: 800px)
{
  .ContentCardSection
  {
    margin: 1rem 0;

    flex: 100%;
  }

  .ContentCardSectionLast
  {
    margin-bottom: 1rem;
  }
}

.ContentCardSection h1
{
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 1.5rem;
  border-color: rgb(17, 24, 39);
  border-bottom-width: 2px;
}

/**
 * Content card but it's a button.
 */
.ContentCardButton
{
  padding: 0;
}

.ContentCardButton > a
{
  padding: 1rem;
  display: block;
  align-items: center;
  text-decoration: none;
}

.ContentCardButton > a > img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ContentCardButton > a > p
{
  text-align: center;
}

img
{
  display: inline-block;
  max-width: 100%;
  border-radius: 0.5rem;
}

video
{
  display: inline-block;
  max-width: 100%;
  border-radius: 0.5rem;
}

.HSep
{
  margin: 0 6rem 3rem 6rem;
  padding: 1rem;
  box-shadow: 0 4px 6px inset rgba(0, 0, 0, 0.3);
  border-radius: 0.75rem;
}

/* Small screens */
@media screen and (max-width: 800px)
{
  .HSep
  {
    margin: 0;
  }
}

/* Large screens */
@media screen and (min-width: 1100px)
{
  .HSep
  {
    margin-left: 12rem;
    margin-right: 12rem;
  }
}

.HSep h2
{
  font-size: 1.5em;
  text-align: center;
  color: rgb(107, 114, 128);
  line-height: 1em;
}

a
{
  text-decoration: none;
  color: darkslategray;
}

h1, h2, h3
{
  margin: 0;
}

.LinkButton
{
  text-decoration: none;
  color: #f5ebeb;
  border: darkslategray solid;
  border-radius: 0.6rem;
  border-width: 2px;
  padding: 0.6rem;

  background-color: #2772db;
}