@tailwind base;
@tailwind components;
@tailwind utilities;

body
{
    @apply bg-gray-200 font-sans;
}

main
{
  @apply px-6 lg:px-32 2xl:px-64 mt-14 ease-in-out duration-200;
}

.ContentCard
{
  /**
   * When the screen is xl, then display cards in flex.
   */
  @apply md:flex mb-12;
}

.ContentCardSection
{
  @apply mb-4 md:mb-0 md:mr-2 p-4;
  @apply bg-gradient-to-br from-gray-100 to-gray-200 rounded-2xl shadow-xl;
}

.ContentCardSectionLast
{
  /**
   * This undos the last ContentCardSection right margin value, since
   * there is nothing after it.
   */
  @apply md:mr-0;
}

.ContentCardSection h1
{
  @apply text-3xl mb-6;
  @apply border-b-2 border-gray-900;
}

.ContentCardSection h2
{
  @apply text-xl mb-6;
}

.HSep
{
  @apply mx-0 xl:mx-72 ease-in-out duration-200;
  @apply mb-12 shadow-inner-3 rounded-xl p-4;
}

.HSep h2
{
  @apply text-xl text-gray-500 text-center;
}

.LinkButton
{
  @apply bg-gradient-to-br from-blue-400 to-blue-500 hover:to-blue-400;
  @apply border-blue-600 border-2 text-white text-center rounded-md;
  @apply p-2;
}