<div class="HSep">
    <h2>Contact</h2>
</div>

<div class="ContentCard">
    <div class="ContentCardSection HotizontalMargin2Rem ContentCardButton">
        <a 
            href="https://www.linkedin.com/in/yiannis-charalambous-504b60197/">
            <img width="64" src="Resources/Images/External/LinkedInLogo.png" />
            <p>LinkedIn</p>
        </a>
    </div>
    <div class="ContentCardSection HotizontalMargin2Rem ContentCardButton">
        <a href="mailto:yiannis128@hotmail.com">
            <img width="64" src="Resources/Images/External/Email.png" />
            <p>Email</p>
        </a>
    </div>
    <div class="ContentCardSection HotizontalMargin2Rem ContentCardButton">
        <a href="https://github.com/Yiannis128/">
            <img width="64" src="Resources/Images/External/GitHubLogo.png" />
            <p>GitHub</p>
        </a>
    </div>
</div>
