<div class="HSep">
    <h2>Contact</h2>
</div>

<div class="ContentCard my-6">
    <div class="ContentCardSection w-full md:mx-8
        transform hover:-translate-y-4 ease-in-out duration-100">
        <a class="hover:bg-gray-200 rounded-md p-4 flex flex-col justify-around items-center"
            href="https://www.linkedin.com/in/yiannis-charalambous-504b60197/">
            <img width="64" src="Resources/Images/External/LinkedInLogo.png" />
            <p class="flex justify-center">LinkedIn</p>
        </a>
    </div>
    <div class="ContentCardSection w-full md:mx-8
        transform hover:-translate-y-4 ease-in-out duration-100">
        <button class="p-4 w-full h-full items-center flex flex-col 
            hover:bg-gray-200 rounded-md" onclick="window.open('mailto:yiannis128@hotmail.com');">
            <img width="64" src="Resources/Images/External/Email.png" />
            <p class="flex justify-center">Email</p>
        </button>
    </div>
    <div class="ContentCardSection ContentCardSectionLast w-full md:mx-8 
        transform hover:-translate-y-4 ease-in-out duration-100">
        <a class="hover:bg-gray-200 rounded-md p-4 flex flex-col justify-around items-center" href="https://github.com/Yiannis128/">
            <img width="64" src="Resources/Images/External/GitHubLogo.png" />
            <p class="flex justify-center">GitHub</p>
        </a>
    </div>
</div>