<!-- <h1 id="holidayText">Holiday Text</h1>
<div id="holidayDeco"></div> -->
<header>
    <div>
        <div id="logoContainer">
            <img src="Resources/Images/Logo.PNG"/>
            <h1>Yiannis Charalambous</h1>
        </div>
    
        <nav>
            <a class="NavBarItemText" href="index.html">
                <span>Home</span>
            </a>
            <a class="NavBarItemText" href="articles.html">
                <span>Articles</span>
            </a>
            <a class="NavBarItemText" href="Projects.html">
                <span>Projects</span>
            </a>
            <a class="NavBarItemText" href="About.html">
                <span>Contact</span>
            </a>
        </nav>
    </div>
</header>

