{{ define "main" }}
<div class="HSep">
    <h2>Contact</h2>
</div>

<div class="ContentCard ContentCardSectionLast">
    <section>
        <p style="text-align: center;">For consultant services, web development, and general business inquiries please
            contact my main email.</p>
    </section>
</div>

<span class="DisplayGrid">
    <div class="ContentCard DisplayGridItem">
        <a href="https://www.linkedin.com/in/yiannis-charalambous-504b60197/">
            <img width="64" src="images/external/linkedin.png" />
            <p>LinkedIn</p>
        </a>
    </div>
    <div class="ContentCard DisplayGridItem">
        <a href="mailto:yiannis128@hotmail.com">
            <img width="64" height="64" src="images/external/email.png" />
            <p>Email</p>
        </a>
    </div>
    <div class="ContentCard DisplayGridItem">
        <a href="https://github.com/Yiannis128/">
            <img width="64" src="images/external/github.png" />
            <p>GitHub</p>
        </a>
    </div>
</span>

{{/*  <div class="ContentCard">
    <section>
        <h2>More...</h2>
        <a id="cy-effective-orcid-url" class="underline" href="https://orcid.org/0009-0000-5755-5099" target="orcid.widget"
        rel="me noopener noreferrer" style="vertical-align: top">
            <img src="https://orcid.org/sites/default/files/images/orcid_16x16.png"
                style="width: 1em; margin-inline-start: 0.5em" alt="ORCID iD icon" />
            https://orcid.org/0009-0000-5755-5099
        </a>
    </section>
</div>  */}}

{{ end }}