{{ define "main" }}
<div class="HSep">
  <h2>Contact</h2>
</div>

<div class="ContentCard ContentCardSectionLast">
  <section>
    <p style="text-align: center">
      For consultant services, web development, and general business inquiries
      please contact my main email.
    </p>
  </section>
  <span class="DisplayGrid">
    {{ range sort .Site.Data.about.links }}
    <div class="DisplayGridItem">
      <a href="{{ .url }}">
        <img width="64" src="{{ .img }}" />
        <p>{{ .name }}</p>
      </a>
    </div>
    {{ end }}
  </span>
</div>

<div class="ContentCard">
  <section>
    <h2>Additional</h2>
    <ul>
      {{ range (sort .Site.Data.about.additional_links "name" "asc") }}
      {{ $desc := cond (isset . "desc") (printf " - %s" .desc) "" }}
      {{ if isset . "url" }}
      <li><a href="{{ .url }}" target="_blank"><img width="16" src="{{ .img }}">{{ .name }}</a>{{ $desc }}</li>
      {{ else }}
      <li><img width="16" src="{{ .img }}">{{ .name }}{{ $desc }}</li>
      {{ end }}
      {{ end }}
    </ul>
  </section>
</div>
{{ end }}
