{{ define "main" }}
<div class="HSep">
    <h2>Contact</h2>
</div>

<div class="ContentCard ContentCardSectionLast">
    <section>
        <p style="text-align: center;">For consultant services, web development, and general business inquiries please contact my main email.</p>
    </section>
</div>

<span class="DisplayGrid">
    <div class="ContentCard DisplayGridItem">
        <a href="https://www.linkedin.com/in/yiannis-charalambous-504b60197/">
            <img width="64" src="images/external/linkedin.png" />
            <p>LinkedIn</p>
        </a>
    </div>
    <div class="ContentCard DisplayGridItem">
        <a href="mailto:yiannis128@hotmail.com">
            <img width="64" height="64" src="images/external/email.png" />
            <p>Email</p>
        </a>
    </div>
    <div class="ContentCard DisplayGridItem">
        <a href="https://github.com/Yiannis128/">
            <img width="64" src="images/external/github.png" />
            <p>GitHub</p>
        </a>
    </div>
</span>

{{ end }}