.CvGridTupleText
{
  margin: 0;
}

.GridLayoutRow.CvGridLayoutRow
{
  margin: 50px 0;
}

.CvStarRating
{
  color: gold;
  /* x y (blur) (spread) (color) */
  filter: drop-shadow(0px 2px 3px rgba(0,0,0,0.8));
}