{{ define "main" }}

<div class="HSep">
    <h2>{{ .Title }}</h2>
</div>

<!-- What this will do is go through each folder in articles and then use
    that as the category. After doing that each category is populated by the
    articles inside it. -->

<div class="FlexContent">
    {{ range .RegularPages }}
    <div class="ContentCard Display2Row">
        <section>
            <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
            <!-- Thumbnail for section. -->
            {{ partial "thumbnail" . }}
            <p>{{ .Page.Summary }}...</p>
        </section>
    </div>
    {{ end }}

    {{ range .Sections }}
    <div class="ContentCard">
        <section>
            <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
            <h2>{{ len .RegularPages }} Articles</h2>
            <!-- Thumbnail for section. -->
            {{ partial "thumbnail" . }}
            {{ range .RegularPages }}
            <h3><a href="{{ .Page.Permalink }}">{{ .Title }}</a></h3>
            <p>{{ .Page.Summary }}...</p>
            {{ end }}
        </section>
    </div>
    {{ end }}
</div>

{{ end }}