{{ define "main" }}

<div class="HSep">
    <h2>{{ .Title }}</h2>
</div>

<!-- Category Picture: Picture is taken from the _index.md in the same 
folder. -->
<div style="display:flex; justify-content: center; margin-bottom: 2rem;">
    {{ partial "thumbnail" . }}
</div>

<!-- What this will do is go through each folder in articles and then use
    that as the category. After doing that each category is populated by the
    articles inside it. -->

<!-- Due to the way index pages are laid out, that is, they are in the parent
folder titled <name>.html while their content is inside the <name> folder,
getting <name> without the extension and applying index.xml to the end will
return the rss path for that page. -->
<a href="{{ path.BaseName .Page.Permalink }}/index.xml">
    <div class="RSS">RSS</div>
</a>

<!-- <h3>News</h3> -->
{{ range .RegularPages }}
<div class="ContentCard">
    <section>
        <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
        <h5>{{ .Date }}</h5>
        <!-- Thumbnail for section. -->
        {{ partial "thumbnail" . }}
        <p>{{ .Page.Summary }}...</p>
    </section>
</div>
{{ end }}

<!-- <h3>More</h3> -->
{{ if gt (len .Sections) 0 }}
<hr style="width: 100%;">
{{ end }}

{{ range .Sections }}
<div class="ContentCard">
    <section>
        <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
        <h2>{{ len .RegularPages }} Articles</h2>
        <!-- Thumbnail for section. -->
        {{ partial "thumbnail" . }}
        {{ range .RegularPages }}
        <h3><a href="{{ .Page.Permalink }}">{{ .Title }}</a></h3>
        <p>{{ .Page.Summary }}...</p>
        {{ end }}
    </section>
</div>
{{ end }}

<div class="ContentCard">
    <section>
        <h4>Tags</h4>
        {{ range $index, $term := .Site.Taxonomies.tags }}
        <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> ({{ .Count }})
        {{ end }}
    </section>
</div>

{{ end }}
