{{ define "main" }}
    <div class="ContentCard">
        <section>
            <h1>{{ .Title }}</h1>
            {{ partial "article_nav" . }}
            <h3>Author: Yiannis Charalambous</h3>
            {{ $timeUnit := "minute" }}
            {{ if gt .ReadingTime 1 }}
                {{ $timeUnit = "minutes" }}
            {{ end }}
            <h4>Reading Time: {{ .ReadingTime }} {{ $timeUnit }}</h4>
            {{ if .Page.Draft }}
                <h4>Draft</h4>
            {{ end }}

            {{ partial "thumbnail" . }}
            
            {{ .Content }}
        </section>
    </div>
{{ end }}