.ContactLinksGridContainer
{
  margin-top: 50px;
  margin-bottom: 50px;

  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0;
}

.ContactLinkGridColumn
{
  text-align: center;
}

.ContactLinkGridColumn .HeaderStyledButton
{
  font-weight: normal;
  font-size: x-large;
}

.ContactLinkGridColumn p
{
  margin: 0;
}

.ContactLink
{
  display:block;
  text-decoration: none;

  font-size: x-large;
  margin: 0;
  
  color: black;
  background: transparent;
}

.ContactLink:hover
{
  background: none; /* Without this for some reason a black band appears under the image when mouse is hovered over. */
}

.ContactLinkImage
{
  width: 100px;
}

.HeaderStyledButton#centeredButtonForContactLinkImage:hover 
{
  cursor: pointer;
}