.GridLayout
{
  margin-top: 50px;
  margin-bottom: 50px;
}

.GridLayoutRow
{
  display: grid;
  grid-template-columns: 33% 33% 34%;
  padding: 0;
  margin: 0;
}

.GridLayoutItem
{
  text-align: center;
}

.GridLayoutItem p
{
  margin: 0;
}

@media only screen and (max-width: 1350px)
{
  /* Phone screens are too small to display a grid, so put each element as a straight vertical line. */
  .GridLayoutRow
  {
    display: block;
  }

  /* Since they are displayed as a line, add some spacing between elements that would be on the same row. */
  .GridLayoutItem
  {
    padding: 15px 0;
  }
}