@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

body
{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    
    padding: 0;
    margin: 0;

    background-color: rgb(235, 235, 235);
}