@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

body
{
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  
  padding: 0;
  margin: 0;

  background-color: rgb(235, 235, 235);
}

main
{
  width: 60%;
  margin: 0 auto; /* Margin of main content. */
}

.PageTitle
{
  margin: 30px 0 20px 0;
  font-size: xx-large;
}

.MainContentSectionContainer
{
  margin-top: 50px;
}

.MainContentSectionTitle
{
  margin: 30px 0 20px 0;
}

.HeaderStyledLink, .TextStyledLink /* <a> Link that is styled like normal text. */
{
  text-decoration: underline;
  color: black;
  background: transparent;
}

.HeaderStyledLink:hover, .TextStyledLink:hover /* <a> Link that is styled like normal text. */
{
  background: transparent;
}

.HeaderStyledButton /* <button> that is styled like normal header.  */
{
  border: none;
  background-color: transparent;

  padding: 0;

  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: inherit;
}

.HeaderStyledButton:focus
{
  outline: none;
}

.DynamicSizedImage
{
  margin: 0 10px;
  max-width: 100%;
}

.MainContentSectionContainer .TextParagraph
{
  text-align: justify;
}

@media only screen and (max-width: 1350px)
{
  main
  {
    width: 80%;
    margin: auto;
  }

  .DynamicSizedImage
  {
    margin: 10px 0;
    max-width: 100%;
  }
}