@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

body
{
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  
  padding: 0;
  margin: 0;

  background-color: rgb(235, 235, 235);
}

main
{
  width: 60%;
  margin: 50px auto 0 auto; /* Margin of main content. */
}

.MainContentSectionContainer
{
  margin-top: 50px;
}

.MainContentSectionTitle
{
  margin: 0;
}

.HeaderStyledLink, .TextStyledLink /* <a> Link that is styled like normal text. */
{
  text-decoration: none;
  color: black;
  background: transparent;
}

.HeaderStyledLink:hover, .TextStyledLink:hover /* <a> Link that is styled like normal text. */
{
  background: transparent;
}

.HeaderStyledButton /* <button> that is styled like normal header.  */
{
  border: none;
  background-color: transparent;

  padding: 0;

  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: inherit;
}

.ImageRightAlignedInText
{
  float:right;
  display:block;
}

.MainContentSectionContainer p
{
  text-align: justify;
}

@media only screen and (max-width: 1250px)
{
  main
  {
      width: 80%;
      margin: auto;
  }
}