header
{
  background-color: rgba(50, 50, 50, 0.8);
  
  backdrop-filter: blur(6px);

  margin-top: 50px; /* Inital offset from top of page. */

  padding: 0 200px;
}

.StickyElement
{
  position: sticky;
  position: -webkit-sticky;
  top: 0; /* Distance before it becomes fixed. */
}

.ClearFix::after
{
  content: '';
  display: table;
  clear: both;
}

.LogoContainer
{
  float: left;
}

.Logo
{
  height: 45px;
  image-rendering: pixelated;
  float: left;
  margin: 5px 0 0 0;
}

.LogoText
{
  float: left;
  color: white;
  margin: 10px 0 0 25px;
}

nav
{
  float: right; /* Determines the location that the bar will appear. */
}

.NavigationBarItemsList 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.NavigationBarMainListItem
{
  float: left; /* Determines order in which li are ordered. */
  display: block;
  width: 80px; /* The width of the buttons. */
  height: 60px;
}

.NavBarItemText
{
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 20px 16px;
}

/* Change the link color to #111 (black) on hover */
.NavigationBarMainListItem .NavBarItemText:hover 
{
  background-color: rgb(20,20,20);

  transition: 0.2s ease-in-out;
}

.NavigationBarMenuDropdownButton
{
  float: right;
  display: none; /* Disabled for bigger screens. */
}

/* This section of CSS is designed for smaller screens.
   In this case, there will be a drop down menu button in the navigation bar
   that will show the rest of the menu. */
@media only screen and (max-width: 1300px)
{

  .NavigationBarMenuDropdownButton
  {
    display: block; /* Show button for smaller screens. */
    height: 50px;
    width: 50px;

    border: none;
    background-color: transparent;

    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: white;
  }

  .NavigationBarMenuDropdownButton:focus
  {
    outline: none;
  }

  /* By default, the list of menus is collapsed, until button is pressed. */
  .NavigationBarItemsList
  {
    display: none;
  }

  header
  {
    padding: 0;
  }

  li.NavigationBarMainListItem
  {
    float: none;
    display: block; /* On phone screens we want list to be verticle. */
  }

  .Logo
  {
    margin: 2px 0 0 0;
  }

  /* Make the logo container take less space so the button can be on the right side. */
  .LogoText
  {
    font-size: 16pt;
    margin: 12px 0 12px 10px;
  }

  .NavigationBarMainListItem
  {
    width: 100vw; /* Set the button to take the whole page. */
  }
}
