header
{
  background-color: rgba(50, 50, 50, 0.8);
  
  backdrop-filter: blur(6px);

  margin-top: 50px; /* Inital offset from top of page. */

  padding: 0 200px;
}

.StickyElement
{
  position: sticky;
  position: -webkit-sticky;
  top: 0; /* Distance before it becomes fixed. */
}

.ClearFix::after
{
  content: '';
  display: table;
  clear: both;
}

.LogoContainer
{
  float: left;
}

.Logo
{
  height: 45px;
  image-rendering: pixelated;
  float: left;
  margin: 5px 0 0 0;
}

.LogoText
{
  float: left;
  margin: 0;
  color: white;
  margin: 10px 0 0 25px;
}

nav
{
  float: right; /* Determines the location that the bar will appear. */
}

.NavigationBarItemsList 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.NavigationBarMainListItem
{
  float: left; /* Determines order in which li are ordered. */
  display: block;
  height: 60px;
}

.NavBarItemText
{
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 20px 16px;

  width: 100px; /* The width of the buttons. */
}

/* Change the link color to #111 (black) on hover */
.NavigationBarMainListItem .NavBarItemText:hover 
{
  background-color: rgb(20,20,20);

  transition: 0.2s ease-in-out;
}

@media only screen and (max-width: 1350px)
{
  header
  {
    padding: 0;
  }

  li.NavigationBarMainListItem
  {
    float: none;
    display: block; /* On phone screens we want list to be verticle. */
  }
}
